
a, body, div, footer, header, html, h1, li, main, p, span, textarea, ul  {
    background-color: transparent;
    border: 0;
    border-radius: 0;

    box-sizing: border-box;

    color: #000000;

    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;

    line-height: 1.5;
    text-decoration: none;

    margin: 0;
    padding: 0;
}

textarea:focus {
    outline: none;
}


#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 40px;

    height: 100%;
}

.app--body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    height: 80%;
    padding-right: 50px;
    padding-left: 50px;
}

.app--footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    background-color: #FBFBFB;
    border-top: solid 1px #DEDEDE;

    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.app--header {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    font-weight: 900;

    padding-right: 50px;
    padding-left: 50px;
}

.card--list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    
    list-style: none;

    height: 100%;
    width: 100%;
}

.card--item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
    width: 50%;
}

.intro {
    font-size: 1.25rem;
}

.editor, 
.preview {
    background-color: #FBFBFB;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;

    border: solid 1px #DEDEDE;
    height: 100%;
    width: 100%;
}

.editor--body, 
.preview--body {
    height: 100%;
    width: 100%;
}

.preview--body {
    padding: 5px;
}


.editor--header,
.preview--header {
    border-bottom: solid 1px #DEDEDE;
    width: 100%;
}

.editor--textbox {
    background-color: #FFFFFF;
    font-size: 0.875rem;
    padding: 5px;
    height: 100%;
    width: 100%;
}

.editor--title,
.preview--title {
    font-weight: 900;
    text-align: left;
    padding: 5px 10px;
}

.link {
    color: #FFB100;
    font-size: inherit;
    text-decoration: underline;
}

.icon {
    height: auto;
    width: 24px;
}

.sitemap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;

    width: 100%;
}

.sitemap--list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    
    list-style: none;
}

.sitemap--list-header {
    font-weight: 900;
}

.sitemap--list-item {
    font-size: 0.875rem;
}

.sitemap--group {
    min-width: 15%;
}

.sitemap--list-item > .text {
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 300;

    text-align: left;
}